* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Yuji Mai", serif;
}

.div_container {
    min-height: 100vh;
    min-width: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    min-height: 10vh;
    min-width: auto;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    min-width: 80vw;
    border: 1px solid;
    border-radius: 8px;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

main {
    min-height: 70vh;
    min-width: 80vw;
    border: 1px solid;
    border-radius: 8px;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    padding: 1.5em;
}

aside {
    min-height: 80vh;
    min-width: 20vw;
    border: 1px solid;
    border-radius: 8px;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 10vh;
    min-width: auto;
    border: 1px solid;
    border-radius: 8px;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 3px gray;
}

.div_content {
    display: flex;
    flex-direction: row;

}

.div_nav_main {
    display: flex;
    flex-direction: column;
}

.div_button_checkbox {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    justify-content: space-around;
}
/* Preguntar sobre el centrado de los botones */
.div_button_checkbox>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .25em;
}

div>label {
    font-size: .75em;
    width: auto;
}

div>button {
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 2em;
    width: 7em;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
}

div>button:hover {
    background: rgb(55, 255, 112);
    background: linear-gradient(0deg, rgba(55, 255, 112, 1) 16%, rgba(205, 205, 205, 1) 100%);
    color: black;
}

footer>p {
    padding-right: 5em;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 50vw;
}

a{
    color: beige;
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip_text {
    visibility: hidden;
    background: rgb(33, 163, 164);
    background: linear-gradient(0deg, rgba(33, 163, 164, 1) 0%, rgba(13, 12, 15, 1) 100%);
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
}

span {
    visibility: hidden;
    width: .5em;
    height: .5em;
    background-color: greenyellow;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}