* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Yuji Mai", serif;
}

.container {
    min-height: 100vh;
    min-width: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    min-height: 10vh;
    min-width: auto;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    min-width: auto;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

main {
    min-height: 70vh;
    min-width: auto;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5em;
    min-height: 10vh;
    min-width: auto;
    background: rgb(41, 141, 142);
    background: linear-gradient(0deg, rgba(41, 141, 142, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

li {
    list-style: none;
}

nav>ul {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

a {
    color: beige;
    text-decoration: none;
}

section > header
{
    min-height: 3.5em;
    min-width: auto;
}

section>header+div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}

div > header
{
    min-height: 3em;
    min-width: auto;
}

a>img {
    height: 22em;
    width: auto;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transform: rotate(-5deg);
    transition-duration: 0.5s;
}

a>img:hover {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

h4
{
    padding-top: 1em;
    font-size: 1.15em;
}

h4 + p 
{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.1em;
}