* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;

}

.div_container {
    min-height: 100vh;
    min-width: auto;
}

header {
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    min-width: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    min-width: 80vw;
    background-color: cadetblue;
    border: 1px solid;
    border-radius: 8px;
}

main {
    min-height: 70vh;
    min-width: 80vw;
    background-color: brown;
    border: 1px solid;
    border-radius: 8px;
}

aside {
    min-height: 80vh;
    min-width: 20vw;
    background-color: aqua;
    border: 1px solid;
    border-radius: 8px;
}

footer {
    min-height: 10vh;
    min-width: auto;
    background-color: blue;
    border: 1px solid;
    border-radius: 8px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 3px gray;
}

.div_content {
    display: flex;
    flex-direction: row;

}

.div_nav_main {
    display: flex;
    flex-direction: column;
}

.div_button_checkbox {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    justify-content: space-around;
}

div>button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5em;
}

footer>p {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 50vw;
}
.button_entrar{
    padding: .5em;
}

.button_entrar:hover+span{
    visibility: visible;
    opacity: 0.75;
}
/* w3 schools tooltip */
span{
    visibility: hidden;
    width: 1em;
    height: 1em;
    background-color: greenyellow;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}